*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --extradark: rgb(39, 54, 39);
  --darkgreen: rgb(50, 98, 59);
  --middlegreen: rgb(13, 129, 13);
  --lightgreen: rgb(206, 215, 201);
}

html {
  font-size: 62.5%;
  font-family: Helvetica, Arial, "Lucida Sans";
  color: var(--extradark);
}

.wrapper {
  background-color: var(--lightgreen);
  height: 100%;
  width: 100%;
}

header {
  text-align: center;
  padding: 1rem;
}

h1 {
  font-size: 3rem;
  letter-spacing: 1rem;
  padding-top: 1rem;
}

.images {
  max-width: 100%;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 8px;
}

main {
  margin: 0 auto;
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  gap: 1rem;
}

.picture-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  padding: 2rem;
}

h3 {
  font-size: 2rem;
}

.button {
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  background-color: var(--darkgreen);
  color: antiquewhite;
}

.button:hover {
  background-color: var(--middlegreen);
}

.wrapper-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.footer-buttons {
  position: fixed;

  background-color: var(--darkgreen);
  opacity: 0.5;
  padding: 1rem;
  font-weight: 700;
  color: antiquewhite;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.footer-buttons:first-of-type {
  top: 2rem;
  left: 4rem;
}

.footer-buttons:last-of-type {
  top: 2rem;
  right: 4rem;
}

.footer-buttons:hover {
  opacity: 1;
}

@media screen and (max-width: 821px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 520px) {
  main {
    grid-template-columns: repeat(1, 1fr);
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.7rem;
  }
}
